.row{
    margin-top: 10px;
    margin-bottom: 10px
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    background-size: cover; 
    color:white;
    text-shadow: 0 2px 0 black;
    opacity: 0.9;
}
